<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/poker.css">
    <script src="http://code.angularjs.org/1.2.13/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="angular/app.js"></script>
</head>
<body ng-app="texasholdemapp">

    <nav class="navbar navbar-inverse" role="navigation">
        
    </nav>
  
    <div class="container">
        <div ui-view></div>
    </div>
    
</body>
</html>
